/* Move down content because we have a fixed navbar that is 50px tall */
body {
    height: 100%;
}

error-text{
    color: red;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    margin: 0 auto;
}

.buzz-button {
    width: 100%;
    height: 400px;
    border: none;
    background-color: #4CAF50;
    font-size: 70px;
    border-radius: 70px;
    text-align: center;
}

.buzz-button:disabled {
    background-color: dimgrey;
}

.allowbuzz-button {
    width: 100%;
    height: 200px;
    border: none;
    background-color: #4CAF50;
    font-size: 70px;
    border-radius: 70px;
    text-align: center;
}
.allowbuzz-button:disabled {
    background-color: dimgrey;
}

.nextquestion-button {
    width: 100%;
    height: 200px;
    border: none;
    background-color: #4CAF50;
    font-size: 70px;
    border-radius: 70px;
    text-align: center;
}

.nextquestion-button:disabled {
    background-color: dimgrey;
}



.container {
    text-align: center;
}


ul {
    list-style-type: none;
}





/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
