@font-face {
    font-family: "JeopardyLogo";
    src: url("/fonts/gyparody.ttf");
}

@font-face {
    font-family: "QuestionFont";
    src: url("/fonts/KorinnaBold.ttf");
}

@font-face {
    font-family: "PriceFont";
    src: url("/fonts/Swiss911.ttf");
}

@font-face {
    font-family: "CoffeeScript";
    src: url("/fonts/CoffeeScript.ttf");
}

body {
    height: 100%;
    background-color: #115FF4;
}

.error-area {
    font-family: QuestionFont;
    font-size: 30px;
    color: red;
    text-shadow: 2px 2px #000000;
    margin-top: -20px;
    margin-bottom: 10px;
}

.buzz {
    margin: -4px;
    width: 280px;
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #060CE9;
    font-size: 30px;
    text-align: center;
    font-family: QuestionFont;
    text-shadow: 2px 2px #000000;
}

.losing {
    color: white;
}

.winning {
    color: #FFCC00;
}

li {
    display: inline-block;
}

#TitleHeader {
    line-height: 95%;
    font-family: JeopardyLogo;
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px #000000;
}

#GameInfo {
    font-family: QuestionFont;
    font-size: 35px;
    color: #FFCC00;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

#UserInfo {
    font-family: 'Over the Rainbow', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#Buzzes {
    padding: 0px;
}

.input-form {
    margin: -4px;
    background-color: #060CE9;
    color: white;
    border: solid;
    border-width: 4px;
    border-color: black;
    width: 300px;
    height: 150px;
    white-space: normal;
    text-align: center;
}

.input-form::placeholder {
    font-family: PriceFont;
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: text-top;
    line-height: 90%;
    text-overflow: clip;
}

.gamecode {
    font-family: JeopardyLogo;
    font-size: 50px;
}

.user-name {
    font-family: 'Over the Rainbow', cursive;
    font-size: 50px;
}

.submit-button {
    line-height: 95%;
    width: 120px;
    height: 80px;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: #060CE9;
    border-radius: 2px;
    color: #FFCC00;
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px black;
    font-size: 22px;
    text-align: center;
    font-family: QuestionFont;
}

.create-button {
    line-height: 95%;
    background-color: #060CE9;
    color: #FFCC00;
    font-size: 22px;
    text-align: center;
    font-family: QuestionFont;
    border: solid;
    border-width: 4px;
    border-color: black;
    text-shadow: 2px 2px #000000;
    width: 300px;
    height: 150px;
    font-size: 50px;
}

#BottomPageLink {
    font-family: PriceFont;
    color: white;
}

.dynamic-button {
    padding-bottom: 20px;
    font-family: PriceFont;
    width: 280px;
    height: 280px;
    line-height: 90%;
    border: solid;
    border-color: black;
    border-width: 4px;
    color: white;
    background-color: #060CE9;
    font-size: 70px;
    text-align: center;
}

    .dynamic-button:disabled {
        background-color: dimgrey;
    }


.container {
    text-align: center;
    max-width: 400px;
}






