@font-face {
    font-family: "JeopardyLogo";
    src: url("/fonts/gyparody.ttf");
}

@font-face {
    font-family: "QuestionFont";
    src: url("/fonts/KorinnaBold.ttf");
}

@font-face {
    font-family: "HandwritingFont";
    src: url("/fonts/Handwriting.woff2");
}

@font-face {
    font-family: "PriceFont";
    src: url("/fonts/Swiss911.ttf");
}

@font-face {
    font-family: "CoffeeScript";
    src: url("/fonts/CoffeeScript.ttf");
}


body {
    height: 100%;
    background-color: #115FF4;
}

error-text {
    color: red;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}





.losing-buzz {
    margin: -4px;
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #060CE9;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: QuestionFont;
    text-shadow: 2px 2px #000000;
}

.winning-buzz {
    color: #FFCC00;
    margin: -4px;
    width: 300px;
    border: solid;
    border-color: black;
    border-width: 4px;
    background-color: #060CE9;
    font-size: 30px;
    text-align: center;
    font-family: QuestionFont;
    text-shadow: 2px 2px #000000;
}





li {
    display: inline-block;
}


#TitleHeader {
    line-height: 95%;
    font-family: JeopardyLogo;
    font-size: 70px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px #000000;
}

#GameInfo {
    font-family: QuestionFont;
    font-size: 28px;
    color: #FFCC00;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

#UserInfo {
    font-family: HandwritingFont;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#Buzzes {
    padding: 0px;
}

.gamecode-form {
    font-family: JeopardyLogo;
    margin: -4px;
    font-size: 50px;
    background-color: #060CE9;
    color: white;
    border: solid;
    border-width: 4px;
    border-color: black;
    width: 300px;
    height: 180px;
    white-space: normal;
    text-align: center;
    /*text-shadow: 2px 2px #000000;*/
    /*box-shadow: 4px 4px #000000;*/
}

    .gamecode-form::placeholder {
        font-family: PriceFont;
        color: white;
        font-size: 50px;
        text-align: center;
        vertical-align: text-top;
        line-height: 90%;
        text-overflow: clip;
        /*white-space: normal;*/
    }

.name-form {
    font-family: HandwritingFont;
    margin: -4px;
    font-size: 50px;
    background-color: #060CE9;
    color: white;
    border: solid;
    border-width: 4px;
    border-color: black;
    width: 300px;
    height: 180px;
    white-space: normal;
    text-align: center;
    /*text-shadow: 2px 2px #000000;*/
    /*box-shadow: 4px 4px #000000;*/
}

    .name-form::placeholder {
        font-family: PriceFont;
        color: white;
        font-size: 50px;
        text-align: center;
        white-space: normal;
        line-height: 90%;
        display: table-cell;
        vertical-align: middle;
    }



.submit-button {
    line-height: 95%;
    width: 120px;
    height: 80px;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: #060CE9;
    border-radius: 2px;
    color: #FFCC00;
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px black;
    font-size: 22px;
    text-align: center;
    font-family: QuestionFont;
}

#BottomPageLink {
    font-family: PriceFont;
    color: white;
}

.dynamic-button {
    padding-bottom: 20px;
    font-family: PriceFont;
    width: 300px;
    height: 300px;
    line-height: 90%;
    border: solid;
    border-color: black;
    border-width: 4px;
    color: white;
    background-color: #060CE9;
    font-size: 70px;
    text-align: center;
}

    .dynamic-button:disabled {
        background-color: dimgrey;
    }


.container {
    text-align: center;
    max-width: 400px;
}




/*ul {
    list-style-type: none;
}*/





/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
